<form action="/edit" method="post">
  {{#collections}}
  <input type="text" name="brand" value="{{brand}}">
  <input type="text" name="color" value="{{color}}">
  {{#details}}
  <input type="text" name="type" value="{{type}}">
  <input type="text" name="numOfStrings" value="{{numOfStrings}}">
  <input type="text" name="price" value="{{price}}">
  {{/details}}
  <button type="submit" name="button" value="{{_id}}">Submit</button>
  {{/collections}}
</form>